# Lombok configuration
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Autowired
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Required
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Lookup
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.PostConstruct
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.PreDestroy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Resource
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Inject
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Named
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.ManagedBean
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.ManagedResource
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Configurable
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.DependsOn
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Primary
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Profile
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Scope
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Required
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Lookup
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.PostConstruct
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.PreDestroy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Resource
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Inject
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Named
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.ManagedBean
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.ManagedResource
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Configurable
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.DependsOn
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Primary
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Profile
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Scope
